@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Haas Grot Disp R";
  src: url("../public/fonts/NeueHaasGrotDispRound-55Roman.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Haas Grot Disp R";
  src: url("../public/fonts/NeueHaasGrotDispRound-65Medium.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Haas Grot Text R";
  src: url("../public/fonts/NeueHaasGrotTextRound-55Roman.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Haas Grot Text R";
  src: url("../public/fonts/NeueHaasGrotTextRound-65Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Haas Grot Text R";
  src: url("../public/fonts/NeueHaasGrotTextRound-75Bold.otf");
  font-style: normal;
  font-weight: 700;
}

/* Light theme tokens (default) */
:root {
  --color-1: #F0F2F5;
  --color-2: #17212B;
  --color-3: #D8DFE5;
  --color-4: #FFFFFF;
  --color-5: #F0F2F5;
  --color-6: #A7B4C2;
  --color-7: #00C289;
  --color-8: rgba(13, 19, 26, 0.15);
  --color-9: #D8DFE5;
  --color-10: #FFFFFF;
  --color-11: #F9FAFB;
  --color-12: #D8DFE5;
  --color-13: #DACCFF;
  --color-14: #6F42EB;
  --color-15: #19232E;
  --color-16: #D8DFE5;
  --color-17: #F9FAFB;
  --color-18: #C1CBD6;
  --color-19: #E4E7EB;
  --color-20: #A7B4C2;
  --color-21: #FFE7B8;
  --color-22: #FF871F;
  --color-23: #C5EBDF;
  --color-24: #7A8A99;
  --color-25: #516070;
  --color-26: rgba(0, 211, 149, 0.10);
  --color-27: #11D976;
  --color-28: #E1E6EB;
  --color-29: #E05A00;
  --color-30: #00AD79;
  --color-31: #F54E59;
  --color-32: #F54E59E8;
  --color-33: #00AD79;
  --color-34: #3C454D;

  --color-border-1: rgba(13, 19, 26, 0.15);

  --shadow-30: 0px 0px 0px 6px #b9bbbc;
}

/* Dark overrides */
.dark {
  --color-1: #0D131A;
  --color-2: #FFFFFF;
  --color-3: #1D2833;
  --color-4: #1D2833;
  --color-5: #17212B;
  --color-6: #516070;
  --color-7: #00AD79;
  --color-8: rgb(255 255 255 / 15%);
  --color-9: #2B3947;
  --color-10: #19232E;
  --color-11: #17212B;
  --color-12: #2B3947;
  --color-13: #382870;
  --color-14: #DACCFF;
  --color-15: #FFFFFF;
  --color-16: #2B3947;
  --color-17: #19232E;
  --color-18: #516070;
  --color-19: #131B24;
  --color-20: #516070;
  --color-21: #FF871F33;
  --color-22: #FFA947;
  --color-23: #073E2E;
  --color-24: #7A8A99;
  --color-25: #516070;
  --color-26: rgba(0, 211, 149, 0.10);
  --color-27: #11D976;
  --color-28: rgba(16, 23, 31, 0.5);
  --color-29: #E05A00;
  --color-30: #00C289;
  --color-31: #F54E59;
  --color-32: #F54E59E8;
  --color-33: #00AD79;
  --color-34: #3C454D;

  --color-border-1: rgba(249, 250, 251, 0.15);

  --shadow-30: 0px 0px 0px 6px #3C454D;
}

@theme inline {
  --color-color-1: var(--color-1);
  --color-color-2: var(--color-2);
  --color-color-3: var(--color-3);
  --color-color-4: var(--color-4);
  --color-color-5: var(--color-5);
  --color-color-6: var(--color-6);
  --color-color-7: var(--color-7);
  --color-color-8: var(--color-8);
  --color-color-9: var(--color-9);
  --color-color-10: var(--color-10);
  --color-color-11: var(--color-11);
  --color-color-12: var(--color-12);
  --color-color-13: var(--color-13);
  --color-color-14: var(--color-14);
  --color-color-15: var(--color-15);
  --color-color-16: var(--color-16);
  --color-color-17: var(--color-17);
  --color-color-18: var(--color-18);
  --color-color-19: var(--color-19);
  --color-color-20: var(--color-20);
  --color-color-21: var(--color-21);
  --color-color-22: var(--color-22);
  --color-color-23: var(--color-23);
  --color-color-24: var(--color-24);
  --color-color-25: var(--color-25);
  --color-color-26: var(--color-26);
  --color-color-27: var(--color-27);
  --color-color-28: var(--color-28);
  --color-color-29: var(--color-29);
  --color-color-30: var(--color-30);
  --color-color-31: var(--color-31);
  --color-color-32: var(--color-32);
  --color-color-33: var(--color-33);
  --color-color-34: var(--color-34);

  --color-border-1: var(--color-border-1);
  --color-modal-bg: #0f171f99;
  --color-compound-icon-bg: #131B24;

  --shadow-10: 0 2px 1px -1px rgba(0, 0, 0, 0.25), 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  --shadow-15: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  --shadow-20: 0px 1px 2px rgba(15, 23, 31, .02), 0px 1px 4px rgba(15, 23, 31, .02);
  --shadow-25: 0px 2px 4px rgba(15, 23, 31, .02), 0px 4px 8px rgba(15, 23, 31, .02);

  --shadow-30: var(--shadow-30);

  --radius-64: 64px;
  --radius-72: 72px;
  --radius-100: 100px;
}

@layer base {
  * {
    font-size: 1rem;
    font-family: 'Haas Grot Text R', sans-serif;
  }

  body {
    font-weight: 400;
    line-height: 1;
    font-family: 'Haas Grot Text R', sans-serif;
    background-color: var(--color-color-1);
    color: var(--color-color-2);
    text-rendering: optimizeSpeed;
  }
}

.font-grot-text {
  font-family: 'Haas Grot Text R', sans-serif;
}

.font-grot-disp {
  font-family: 'Haas Grot Disp R', sans-serif;
}

/*=======================*/
/* Scrollbar Styles */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.disable-scroll-vertical {
  overflow: hidden !important;
  overscroll-behavior: none;
  touch-action: none;
}

.modal-fade-in {
  animation: modal-fade-in 300ms ease-out forwards;
}

.modal-content-in {
  animation: modal-content-in 300ms ease-out forwards;
}

.chain-slide {
  animation: chain-slide 1s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pulse-animation {
  animation: pulseOpacity 1.2s ease-in-out infinite alternate;
}

.transition-width {
  transition: width .1s linear;
}

.no-available-mobile {
  background-image: url('./assets/no-available-mobile-light.svg');
}

.no-position-yet {
  background-image: url('./assets/no-position-yet-light.svg');
}

.dark {
  .no-position-yet {
    background-image: url('./assets/no-position-yet.svg');
  }

  .no-available-mobile {
    background-image: url('./assets/no-available-mobile.svg');
  }
}

.animate-bounce-smooth {
  animation: bounce-animation 0.3s ease both;
  transform-origin: top right;
  will-change: transform, opacity;
}

.after-animate-loading-dots {
  min-width: 3.75rem;
}

.after-animate-loading-dots::after {
  animation: loading-dots 3s steps(1, end) infinite;
  content: "";
}

.shadow-30-pulse::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  box-shadow: var(--shadow-30);

  animation: shadow30-pulse-opacity 1.6s ease-in-out infinite;
}

.animate-drawer-in {
  animation: drawer-in 0.5s cubic-bezier(0.16,1,0.3,1);
}
.animate-drawer-out {
  animation: drawer-out 0.35s cubic-bezier(0.7,0,0.84,0);
}

.drawer-backdrop {
  backdrop-filter: blur(7.5px);
  background-color: #0f171f99;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-content-in {
  from {
    opacity: 0;
    transform: translateY(2.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chain-slide {
  0% {
    background-image: url('./assets/network_switch_1.svg');
  }
  20% {
    background-image: url('./assets/network_switch_2.svg');
  }
  40% {
    background-image: url('./assets/network_switch_3.svg');
  }
  60% {
    background-image: url('./assets/network_switch_4.svg');
  }
  80% {
    background-image: url('./assets/network_switch_5.svg');
  }
  100% {
    background-image: url('./assets/network_switch_1.svg');
  }
}

@keyframes pulseOpacity {
  from { opacity: 0.10; }
  to   { opacity: 0.25; }
}

@keyframes bounce-animation {
  0% {
    transform: translateY(-3px);
  }
  30% {
    transform: translateY(2px);
  }
  85% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loading-dots {
  0%   { content: ""; }
  25%  { content: "."; }
  50%  { content: ".."; }
  75%  { content: "..."; }
  100% { content: ""; }
}

@keyframes shadow30-pulse-opacity {
  0%, 100% { opacity: 0.35; }
  50%      { opacity: 1; }
}

@keyframes drawer-in {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}

@keyframes drawer-out {
  from { transform: translateY(0%); }
  to { transform: translateY(100%); }
}