name: DEV-Lint

on:
  workflow_dispatch:

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - develop
    paths-ignore:
      - ".github/workflows/**"
  push:
    branches:
      - develop
    paths-ignore:
      - ".github/workflows/**"

jobs:
  Lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Cache Node.js dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules/
          key: node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            node-

      - name: Install Node Modules
        run: |
          npm ci

      - name: Lint
        continue-on-error: true
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build
